<div class="wrapper">
  <header class="header">
    <div class="title">
      <a href="#">
        <img class="title-logo" src="/assets/title2.jpg" alt="title">
      </a>
    </div>
    <div class="user">
      <div>
        <% if user_signed_in? %>
          <div class="user-nav">
            <%= link_to "マイページ", "#", class: "user-nav"%>
          </div>
          <div class="user-nav">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "user-nav"%>
          </div>
        <% else %>
          <div class="user-nav">
            <%= link_to "ログイン", new_user_session_path, class: "user-nav"%>
          </div>
          <div class="user-nav">
            <%= link_to "新規登録", new_user_registration_path, class: "user-nav"%>
          </div>
        <% end %>
      </div>
    </div>
  </header>
  <main>
    <div class="room-info">-相談ルーム-</div>
    <div class="room-up">
      <%= link_to "マタニティ", posts_path(room: 1), class: "room-genre"%>
      <%= link_to "出産のこと", posts_path(room: 2), class: "room-genre"%>
      <%= link_to "育児のこと", posts_path(room: 3), class: "room-genre"%>
    </div>
    <div class="room-down">
      <%= link_to "教育のこと", posts_path(room: 4), class: "room-genre"%>
      <%= link_to "家庭のこと", posts_path(room: 5), class: "room-genre"%>
      <%= link_to "その他", posts_path(room: 6), class: "room-genre"%>
    </div>
  </main>
  <footer>
    <p>
      Copyright MamasShare 2020.
    </p>
  </footer>
</div>