<div class="wrapper">
  <header class="header">
    <div class="title">
      <a href="/">
        <img class="title-logo" src="/assets/title2.jpg" alt="title">
      </a>
    </div>
    <div class="user">
      <div>
        <% if user_signed_in? %>
          <div class="user-nav">
            <%= link_to "マイページ", "#", class: "user-nav"%>
          </div>
          <div class="user-nav">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "user-nav"%>
          </div>
        <% else %>
          <div class="user-nav">
            <%= link_to "ログイン", new_user_session_path, class: "user-nav"%>
          </div>
          <div class="user-nav">
            <%= link_to "新規登録", new_user_registration_path, class: "user-nav"%>
          </div>
        <% end %>
      </div>
    </div>
  </header>
  <main class="room-post">
    <%= form_with url:'' do |form|%>
      <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "serch-form" %>
      <%= form.submit "検索", class: "search-btn" %>
    <% end %>
  </main>
  <footer>
    <p>
      Copyright MamasShare 2020.
    </p>
  </footer>
</div>

  <div></div>