<div class="wrapper">
  <header class="header">
    <div class="title">
      <a href="/">
        <img class="title-logo" src="/assets/title2.jpg" alt="title">
      </a>
    </div>
    <div class="user">
      <div>
        <% if user_signed_in? %>
          <div class="user-nav">
            <%= link_to "マイページ", "#", class: "user-nav"%>
          </div>
          <div class="user-nav">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "user-nav"%>
          </div>
        <% else %>
          <div class="user-nav">
            <%= link_to "ログイン", new_user_session_path, class: "user-nav"%>
          </div>
          <div class="user-nav">
            <%= link_to "新規登録", new_user_registration_path, class: "user-nav"%>
          </div>
        <% end %>
      </div>
    </div>
  </header>

  <main class="room-post">
    <div class="room-title">
      -
      <% if params[:room] == "1" %>
        マタニティママ
      <% elsif params[:room] == "2" %>
        出産
      <% elsif params[:room] == "3" %>
        育児
      <% elsif params[:room] == "4" %>
        教育
      <% elsif params[:room] == "5" %>
        家庭
      <% elsif params[:room] == "6" %>
        その他
      <% end %>
      の相談ルーム -
    </div>

    <div class="serch">
      <%= form_with url:'' do |form|%>
        <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "serch-form" %>
        <%= form.submit "検索", class: "search-btn" %>
      <% end %>
    </div>
    
    <%= link_to new_post_path(room: params[:room]), class:"" do %>
      <div class="new-post">投稿する</div>
    <% end %>

    <div class="posts">
      <% if params[:room] == "1" %>
        <% if @posts1 == [] %>
          <div class="posts-nil">
            投稿がまだありません
          </div>
        <% end %>
        <% @posts1.each do |post|%>       
          <%= link_to post_path(post.id), class: "post-link" do %>
          <div class="post">
            <div class="post-head">
              <div class="post-title"><%= post.problem %></div>
            </div>
            <div class="post-main">
              <div class="post-detail"><%= post.detail %></div>
            </div>
            <div class="post-foot">
              <div class="post-user"><%= post.user.nickname %></div>
            </div>
            <div class="detail-info">（クリックで詳細・コメントを表示）</div>
          </div>
          <% end %>
        <% end %>
      <% elsif params[:room] == "2" %>
        <% if @posts2 == [] %>
          <div class="posts-nil">
            投稿がまだありません
          </div>
        <% end %>
        <% @posts2.each do |post|%>       
          <%= link_to post_path(post.id), class: "post-link" do %>
          <div class="post">
            <div class="post-head">
              <div class="post-title"><%= post.problem %></div>
            </div>
            <div class="post-main">
              <div class="post-detail"><%= post.detail %></div>
            </div>
            <div class="post-foot">
              <div class="post-user"><%= post.user.nickname %></div>
            </div>
            <div class="detail-info">（クリックで詳細・コメントを表示）</div>
          </div>
          <% end %>
        <% end %>
      <% elsif params[:room] == "3" %>
        <% if @posts3 == [] %>
          <div class="posts-nil">
            投稿がまだありません
          </div>
        <% end %>
        <% @posts3.each do |post|%>
          <%= link_to post_path(post.id), class: "post-link" do %>
          <div class="post">
            <div class="post-head">
              <div class="post-title"><%= post.problem %></div>
            </div>
            <div class="post-main">
              <div class="post-detail"><%= post.detail %></div>
            </div>
            <div class="post-foot">
              <div class="post-user"><%= post.user.nickname %></div>
            </div>
            <div class="detail-info">（クリックで詳細・コメントを表示）</div>
          </div>
          <% end %>
        <% end %>
      <% elsif params[:room] == "4" %>
        <% if @posts4 == [] %>
          <div class="posts-nil">
            投稿がまだありません
          </div>
        <% end %>
        <% @posts4.each do |post|%>
          <%= link_to post_path(post.id), class: "post-link" do %>
          <div class="post">
            <div class="post-head">
              <div class="post-title"><%= post.problem %></div>
            </div>
            <div class="post-main">
              <div class="post-detail"><%= post.detail %></div>
            </div>
            <div class="post-foot">
              <div class="post-user"><%= post.user.nickname %></div>
            </div>
            <div class="detail-info">（クリックで詳細・コメントを表示）</div>
          </div>
          <% end %>
        <% end %>
      <% elsif params[:room] == "5" %>
        <% if @posts5 == [] %>
          <div class="posts-nil">
            投稿がまだありません
          </div>
        <% end %>
        <% @posts5.each do |post|%>
          <%= link_to post_path(post.id), class: "post-link" do %>
          <div class="post">
            <div class="post-head">
              <div class="post-title"><%= post.problem %></div>
            </div>
            <div class="post-main">
              <div class="post-detail"><%= post.detail %></div>
            </div>
            <div class="post-foot">
              <div class="post-user"><%= post.user.nickname %></div>
            </div>
            <div class="detail-info">（クリックで詳細・コメントを表示）</div>
          </div>
          <% end %>
        <% end %>
      <% elsif params[:room] == "6" %>
        <% if @posts6 == [] %>
          <div class="posts-nil">
            投稿がまだありません
          </div>
        <% end %>
        <% @posts6.each do |post|%>
          <%= link_to post_path(post.id), class: "post-link" do %>
          <div class="post">
            <div class="post-head">
              <div class="post-title"><%= post.problem %></div>
            </div>
            <div class="post-main">
              <div class="post-detail"><%= post.detail %></div>
            </div>
            <div class="post-foot">
              <div class="post-user"><%= post.user.nickname %></div>
            </div>
            <div class="detail-info">（クリックで詳細・コメントを表示）</div>
          </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </main>
  <footer>
    <p>
      Copyright MamasShare 2020.
    </p>
  </footer>
</div>