<div class="wrapper">
  <header class="header">
    <div class="title">
      <a href="/">
        <img class="title-logo" src="/assets/title2.jpg" alt="title">
      </a>
    </div>
    <div class="user">
      <div>
        <% if user_signed_in? %>
          <div class="user-nav">
            <%= link_to "マイページ", "#", class: "user-nav"%>
          </div>
          <div class="user-nav">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "user-nav"%>
          </div>
        <% else %>
          <div class="user-nav">
            <%= link_to "ログイン", new_user_session_path, class: "user-nav"%>
          </div>
          <div class="user-nav">
            <%= link_to "新規登録", new_user_registration_path, class: "user-nav"%>
          </div>
        <% end %>
      </div>
    </div>
  </header>
  <main class="post-new-main">
    <div class="room-title">
      -
      <% if params[:room] == "1" %>
        マタニティママ
      <% elsif params[:room] == "2" %>
        出産
      <% elsif params[:room] == "3" %>
        育児
      <% elsif params[:room] == "4" %>
        教育
      <% elsif params[:room] == "5" %>
        家庭
      <% elsif params[:room] == "6" %>
        その他
      <% end %>
      の相談ルーム -
    </div>
    <div class="post-form">
      <%= form_with model: @post, url: posts_path, local: true do |f| %>
        <%= f.hidden_field :room, :value => params[:room] %>
        <div class="problem-form">
          <%= f.text_area :problem, class:"problem-input", id:"", placeholder:"タイトル文（40字以内)", maxlength:"40" %>
        </div>
        <div class="detail-form">
          <%= f.text_area :detail, class:"detail-input", id:"", placeholder:"相談内容（400字以内)", maxlength:"400" %>
        </div>
        <div class="post-submit">
          <%= f.submit "投稿する" ,class:"post-btn" %>
        </div>
      <% end %>
    </div>
    <div class="back-btn">
      <%= link_to "ルームへ戻る", :back ,class:"back-btn" %>
    </div>
  </main>
  <footer>
    <p>
      Copyright MamasShare 2020.
    </p>
  </footer>
</div>